# Función map()

In [1]:
#Similar a filter con la diferencia que aplica una función sobre todos los elementos y devuelve un iterable de tipo map
numeros = [2,5,10,23,50,33]

def doblar(numero):
    return numero * 2

map(doblar, numeros) #Función a aplicar y lista a aplicar

In [2]:
m = map(doblar, numeros)
next(m)

4

In [3]:
#Si recorri anteriormente algun valor ya no sera contado al mostrar todo el objeto obtenido como lista(cast)
list(m)

[10, 20, 46, 100, 66]

In [4]:
#Con lambda
list( map(lambda numero: numero * 2, numeros) )

[4, 10, 20, 46, 100, 66]

In [5]:
#Map suele usarse mucho con lambda para evitar ciclos for, ademas puede usarse sobre mas de un iterable con la condición que tenga la misma longitud
lista_1 = [1,2,3,4,5]
lista_2 = [6,7,8,9,10]

list( map(lambda numero1, numero2: numero1 * numero2, lista_1, lista_2) )

[6, 14, 24, 36, 50]

In [6]:
lista_3 = [11,12,13,14,15]
list( map(lambda numero1, numero2, numero3: numero1 * numero2* numero3, lista_1, lista_2, lista_3) )

[66, 168, 312, 504, 750]

In [7]:
#Re utilizo la clase anterior para otro ejemplo pero ahora con map
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad   = edad
        
    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)
    
personas = [
    Persona("Irving" , 27),
    Persona("Angeles", 51),
    Persona("Jade"   , 11),
    Persona("Jesus"  , 34)
]

In [8]:
#Forma tradicional
def incrementarAnio(persona):
    persona.edad += 1
    return persona

personasInc = map(incrementarAnio, personas)
for persona in personasInc:
    print(persona)

Irving de 28 años
Angeles de 52 años
Jade de 12 años
Jesus de 35 años

In [9]:
#Con lambda y objetos pero hay que jugar bien las cartas que tenemos
personas = [
    Persona("Irving" , 27),
    Persona("Angeles", 51),
    Persona("Jade"   , 11),
    Persona("Jesus"  , 34)
]

#Como no puedo devolver solo la edad o una condición, debo devolver toda la persona con los nuevos valores
personasInc = map(lambda persona: Persona(persona.nombre, persona.edad + 1), personas)

for persona in personasInc:
    print(persona)

Irving de 28 años
Angeles de 52 años
Jade de 12 años
Jesus de 35 años