# Combinaciones

Hay tres técnicas para combinar la información de varios `DataFrames`: 

* Concatenación
* Fusión
* Unión

## Concatenación

Esta técnica consiste básicamente en juntar las filas de los `DataFrames`, esto requiere que las dimensiones de los diferentes `df` concuerden:

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A':['1A','2A'], 'B':['1B','2B'], 'C':['1C','2C']}, index=[1, 2]) 

df1

    A   B   C
1  1A  1B  1C
2  2A  2B  2C

In [3]:
df2 = pd.DataFrame({'A':['3A','4A','5A'], 'B':['3B','4B','5B'], 'C':['3C','4C','5C']}, index=[3, 4, 5]) 

df2

    A   B   C
3  3A  3B  3C
4  4A  4B  4C
5  5A  5B  5C

In [4]:
df3 = pd.DataFrame({'A':['6A','7A'], 'B':['6B','7B'], 'C':['6C','7C']}, index=[6, 7]) 

df3

    A   B   C
6  6A  6B  6C
7  7A  7B  7C

In [5]:
# Concatenar filas
pd.concat([df1, df2, df3])

    A   B   C
1  1A  1B  1C
2  2A  2B  2C
3  3A  3B  3C
4  4A  4B  4C
5  5A  5B  5C
6  6A  6B  6C
7  7A  7B  7C

Un listado de los métodos de unión se puede encontrar en la [documentación sobre concat](https://pandas.pydata.org/docs/reference/api/pandas.concat.html).

## Fusión

Esta técnica permite fusionar los `DataFrames` utilizando la misma lógica que se utiliza en `SQL` para unir tablas, por ejemplo una combinación de dos dataframes a partir de una columna común:

In [6]:
df1 = pd.DataFrame({'clave': ['K1','K2','K3'], 'A': ['1A','2A','3A'], 'B': ['1B','2B','3B']})

df1

  clave   A   B
0    K1  1A  1B
1    K2  2A  2B
2    K3  3A  3B

In [7]:
df2 = pd.DataFrame({'clave': ['K1','K2','K3'], 'C': ['1C','2C','3C'], 'D': ['1D','2D','3D']})

df2

  clave   C   D
0    K1  1C  1D
1    K2  2C  2D
2    K3  3C  3D

In [8]:
# Fusionar columnas a partir de una columna común
pd.merge(df1, df2, on='clave')

  clave   A   B   C   D
0    K1  1A  1B  1C  1D
1    K2  2A  2B  2C  2D
2    K3  3A  3B  3C  3D

Un listado de los métodos de fusión se puede encontrar en la [documentación sobre merge](https://pandas.pydata.org/docs/reference/api/pandas.merge.html).

## Unión

Esta técnica es muy conveniente para combinar las columnas de dos `dataframes` indexados:

In [9]:
df1 = pd.DataFrame({'A': ['1A','2A','3A'], 'B': ['1B','2B','3B']}, index=['K1','K2','K3'])

df1

     A   B
K1  1A  1B
K2  2A  2B
K3  3A  3B

In [10]:
df2 = pd.DataFrame({'C': ['1C','2C','3C'], 'D': ['1D','2D','3D']}, index=['K1','K2','K3'])

df2

     C   D
K1  1C  1D
K2  2C  2D
K3  3C  3D

In [11]:
# Unir columnas mediante los índices
df1.join(df2)

     A   B   C   D
K1  1A  1B  1C  1D
K2  2A  2B  2C  2D
K3  3A  3B  3C  3D

Un listado de los métodos de unión se puede encontrar en la [documentación sobre join](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html).